[Unit]
Description=discovery exporter service
Wants=network.target
After=network.target

[Service]
Restart=always
RestartSec=10
User=prometheus
EnvironmentFile=-/etc/sysconfig/exporter
ExecStart=/usr/bin/discoveryd exporter

[Install]
WantedBy=multi-user.target
